body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  flex: 1;
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.income { background: #16a34a; }
.expense { background: #dc2626; }
.balance { background: #2563eb; }

.card {
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin-top: 5px;
}